
body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 100% );
    width:100%;
    height:100vh;
    font-family: 'Lato';
}

#titulo{

    width: 85vw;
    margin: auto; 
    padding: 1em; 
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding-top: 1em;
    gap: 1em;
}

.logo1{
    padding: 2em;
    width: 200px;
    height: 200px;
}
.logo3 {
    width: 250px;
    height: 300px;
}
.card{
margin: 1em 1em 1em 1em;
}
.card-text{
    background-color: #9D6AAA;
    width: auto;
    border:2px solid rgb(113,99,99);
    border-radius: 15px;
    padding: 1em 1em 1em 1em;
    color: black;
    margin: 0.5em 0.5em;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.barra{
    border: 2px solid #9D6AAA;
    border-radius: 7px;
    width: 55vw;
    padding: 1em 1em 1em 1em;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
}

#conteiner-pelis{
    width: 85vw;
    margin: auto;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#ultimas-peliculas{
    width: 85vw;
    margin: auto;
    /* margin-top: 5em; */
    border:2px solid #9D6AAA;
    border-radius: 7px;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5em;
}

.card1{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 440px;
    background: #fff;
    border: 2px solid rgba(0,0,0,.5);
    box-shadow: 7px 7px 8px rgba(255,255,255,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
}
#principal{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 2em;
}
.title{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 1.5em;
}
.p-card{
    background-color: (100,43,115,1);
    width: 80%;
    border:2px solid #9D6AAA;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2em;
    font-family: 'Lato';
    padding: 0.7em 0.8em 0.8em 0.8em;
    margin: 0.5em 0.5em;
    text-align:left;
}

.mini-card {
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    border: 1px solid #ccc;
    padding: 10px; 
    width: 100%; 
    height: 100%;
    transition: opacity 0.5s ease; 
}

.card1:hover .mini-card {
    opacity: 1;
}
  
.boton{
    width: 10em;
    height: 5ex;
    background-color: rgba(100,43,115,1);
    border: 2px solid rgb(113,99,99);
    border-radius: 7px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .boton:hover{
      background-color:#9D6AAA;
  }
.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  /* .cont-img{
    width: 150px;
    height: 300px;
  } */